*.swp
*.inc
sitemap.txt
docs/faq.txt
news/changelog.txt
news/vulnerabilities.html
source/license.txt
docs/HOWTO/*.txt
source/*.gz*
source/*.patch
source/old/x/*.tar.gz*
source/old/0.9.x/*.tar.gz*
source/old/0.9.x/*.patch
source/old/1.0.0/*.tar.gz*
source/old/1.0.1/*.tar.gz*
source/old/1.0.2/*.tar.gz*
source/old/fips/*.tar.gz*
