*.swp
sitemap.txt
docs/faq.inc
docs/faq.txt
docs/fips.inc
news/changelog.inc
news/changelog.txt
news/newsflash.inc
news/vulnerabilities.html
news/vulnerabilities.inc
newsflash.inc
source/index.inc
source/license.txt
docs/HOWTO/*.txt
source/*.gz
source/*.gz.asc
source/*.gz.md5
source/*.gz.sha1
source/*.tar.gz.sig
source/*.patch
