*~
*.swp
blog
sitemap.txt
docs/*/apps/*
!docs/*/apps/index.html
docs/*/crypto/*
!docs/*/crypto/index.html
docs/*/ssl/*
!docs/*/ssl/index.html
docs/*/man1/*
!docs/*/man1/index.html
docs/*/man3/*
!docs/*/man3/index.html
docs/*/man5/*
!docs/*/man5/index.html
docs/*/man7/*
!docs/*/man7/index.html
communmity/committers.inc
docs/faq.inc
docs/fips.inc
news/changelog.inc
news/changelog.txt
news/cl*.txt
news/newsflash.inc
news/openssl-*-notes.html
news/openssl-*-notes.inc
news/vulnerabilities.inc
newsflash.inc
source/*.gz*
source/*.patch
source/.htaccess
source/index.inc
source/license.txt
source/old/*/*.patch
source/old/*/*.tar.gz*
source/old/*/*.txt.asc
source/old/*/index.inc
source/snapshot
