##
##  .htaccess -- Apache per-dir config
##
#### NOTE: .htaccess files are disabled by main apache config


Options +ExecCGI +FollowSymLinks

#   redirect CGIs to original site when running on mirrors
RewriteEngine on
RewriteCond  %{SERVER_NAME}  !=www.openssl.org
RewriteRule  ^(.+\.cgi)$     http://www.openssl.org/$1 [R,L]

<Files *.md5>
ForceType application/binary
</Files>

<Files *.sha1>
ForceType application/binary
</Files>

<Files *.asc>
ForceType application/binary
</Files>

<Files favicon.ico>
ForceType image/vnd.microsoft.icon
</Files>
