RedirectMatch 404 .*/\.git/.*
ErrorDocument 404 /err404.html

Options +ExecCGI +FollowSymLinks

Redirect permanent /about/releasestrat.html /policies/releasestrat.html
Redirect permanent /licenses/openssl_ccla.pdf /policies/openssl_ccla.pdf
Redirect permanent /licenses/openssl_icla.pdf /policies/openssl_icla.pdf
Redirect permanent /licenses /policies/cla.html
Redirect permanent /licenses/ /policies/cla.html
Redirect permanent  /.well-known/acme-challenge/MX5CvUJNvymcKf22SNORcfjGk4oGQyIWJiBc_johfYo http://dcv.akamai.com/.well-known/acme-challenge/MX5CvUJNvymcKf22SNORcfjGk4oGQyIWJiBc_johfYo

Redirect permanent /snapshot /source/snapshot
Redirect permanent /policies/codingstyle.html /policies/technical/coding-style.html
Redirect permanent /policies/secpolicy.html /policies/general/security-policy.html
Redirect permanent /policies/travel.html /policies/general/travel-policy.html
Redirect permanent /policies/platformpolicy.html /policies/general/platform-policy.html

<Files *.md5>
ForceType application/binary
</Files>

<Files *.sha1>
ForceType application/binary
</Files>

<Files *.sha256>
ForceType application/binary
</Files>

<Files *.asc>
ForceType application/binary
</Files>

<Files favicon.ico>
ForceType image/vnd.microsoft.icon
</Files>
