RedirectMatch 404 .*/\.git/.*
ErrorDocument 404 /err404.html

Options +ExecCGI +FollowSymLinks

Redirect permanent /about/releasestrat.html /policies/releasestrat.html
Redirect permanent /licenses/openssl_ccla.pdf /policies/openssl_ccla.pdf
Redirect permanent /licenses/openssl_icla.pdf /policies/openssl_icla.pdf
Redirect permanent /support/faq.html /docs/faq.html
Redirect permanent /licenses /policies/cla.html
Redirect permanent /licenses/ /policies/cla.html

<Files *.md5>
ForceType application/binary
</Files>

<Files *.sha1>
ForceType application/binary
</Files>

<Files *.asc>
ForceType application/binary
</Files>

<Files favicon.ico>
ForceType image/vnd.microsoft.icon
</Files>
