
#use wml::openssl area=docs page=PAGE

<title>Documents, PAGESECTION</title>

<h1>PAGESECTION</h1>

#use wml::imp::generic

{:
[[s|(<STRONG>[^<].+?)</A>(</STRONG><DD>)|$1$2|sg]]
[[s|<P>\s+<P>|<P>|sg]]
[[s|<P>\s+</|</|sg]]
[[s|<DD>\s*<DT>|<DD>&nbsp;<DT>|sg]]
[[s|<DD>\s*</DL>|<DD>&nbsp;</DL>|sg]]
FILE
:}

