---
breadcrumb: OpenSSL Technical Policies
---
These are the technical policies and procedures established by the OTC
in accordance with the [project bylaws].

<p>
    <ul>
        [% INCLUDE "index.inc" %]
    </ul>
</p>

They are maintained in the [openssl/technical-policies] repository on GitHub.


[project bylaws]: ../omc-bylaws.html
[openssl/technical-policies]: https://github.com/openssl/technical-policies
