<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/inc/head.shtml" -->

<body>
<!--#include virtual="/inc/banner.shtml" -->

  <div id="main">
    <div id="content">
      <div class="blog-index">
	<article>
	  <header><h2>OpenSSL [% release %] Series Release Notes<h2></header>
	  <div class="entry-content">
	    <p>
	    The major changes and known issues for the [% release %] branch
	    of the OpenSSL toolkit are summarised below. The contents
	    reflect the current state of the <tt>NEWS</tt> file inside
	    the git repository.
	    </p>

	    <p>
	    More details can be found in the <a href="changelog.html">ChangeLog</a>.
	    </p>

	    <!--#include virtual="openssl-[% release %]-notes.inc" -->
	  </div>
	  <footer>
	    You are here: <a href="/">Home</a>
	    : <a href=".">News</a>
	    <br/><a href="/sitemap.txt">Sitemap</a>
	  </footer>
	</article>
      </div>
      <!--#include virtual="sidebar.shtml" -->
    </div>
  </div>

<!--#include virtual="/inc/footer.shtml" -->
</body>

</html>
