<!DOCTYPE html>
<html lang="en">
<!--#include virtual="/inc/head.shtml" -->

<body>
<!--#include virtual="/inc/banner.shtml" -->

  <div id="main">
    <div id="content">
      <div class="blog-index">
	<article>
	  <header><h2>Vulnerabilities<h2></header>
	  <div class="entry-content">
	    <p>
              If you think you have found a security bug in OpenSSL,
              please <a href="/community/#securityreports">report it to us</a>.
	    </p>
            <!--#include virtual="[% vulnerabilitiesinc %]" -->
	    </p>
	  </div>
	  <footer>
	    You are here: <a href="/">Home</a>
	    : <a href=".">News</a>
            : <a href="">Vulnerabilities</a>
	    <br/><a href="/sitemap.txt">Sitemap</a>
	  </footer>
	</article>
      </div>
      <!--#include virtual="sidebar.shtml" -->
    </div>
  </div>

<!--#include virtual="/inc/footer.shtml" -->
</body>

</html>

