---
breadcrumb: OMC Alumni
---
# OpenSSL Management Committee - Alumni

We gratefully acknowledge the contributions of the following alumni (who
were previously in the OMC, or a team member or founder prior to
creation of the OMC):

<p>[% INCLUDE "omc-alumni.inc" %]</p>

We also respectfully remember Ulf Möller who is no longer with us.
