---
breadcrumb: OTC
---
# OpenSSL Technical Committee

The [OpenSSL Technical Committee](/policies/omc-bylaws.html#OTC) represents
the official technical voice of the project. All OTC decisions are taken on
the basis of a vote.

The current OTC consists of (in alphabetical order):

<p>[% INCLUDE "otc.inc" %]</p>

Names with an (I) are currently inactive as defined in our
[bylaws](/policies/omc-bylaws.html).
