---
breadcrumb: OpenSSL General Policies
---
These are the general policies and procedures established by the OMC.

<p>
    <ul>
        [% INCLUDE "index.inc" %]
    </ul>
</p>

They are maintained in the [openssl/general-policies] repository on GitHub.


[openssl/general-policies]: https://github.com/openssl/general-policies
