RewriteEngine on
RewriteRule fips/fipsnotes.html /docs/fipsnotes.html [L,R=302,NC]
RewriteRule fips/fipsvalidation.html /docs/fipsvalidation.html [L,R=302,NC]
RewriteRule fips/index.html /docs/fips/fips.html [L,R=302,NC]
