---
breadcrumb: Frequently Asked Questions
header-includes: |
  <script>
  $(function(){
    $(".faq ul > li").click(function(){
      $(this).toggleClass("open");
    });
  });
  </script>
---
# Frequently Asked Questions

[% INCLUDE "faq.inc" %]
