<!-- sidebar.inc -->
<aside class="sidebar">
  <section>
    <h1><a href="/docs/manpages.html">Manpages</a></h1>
    <ul>
[% FOREACH release IN releases.split('\s+') -%]
      <li><a href="/docs/man[% release %]">[% release %]</a></li>
[% END -%]
    </ul>
  </section>
</aside>
<!-- end -->
