---
breadcrumbs: >-
  [Home]([% top %]) :
  [Documentation]([% top %]docs) :
  [Manpages]([% top %]docs/manpages.html)[% IF release.defined %] :
  [[% release %]]([% top %]docs/man[% release %])[% IF sectnum.defined %] :
  [man[% sectnum %]]([% top %]docs/man[% release %]/man[% sectnum %])[% END %][% END %]
sidebar: |
  # [Manpages]([% top %]docs/manpages.html)

[% FOREACH release IN releases.split('\s+') -%]
  -   [[% release %]]([% top %]docs/man[% release %])
[% END -%]
---
