---
breadcrumb: file formats
---
# OpenSSL file formats and conventions

<p>
<table style="border-spacing: 10px 0;">
  <tr>
    <td>NAME</td>
    <td>Description</td>
  </tr>
  <!--#include virtual="index.inc" -->
</table>
</p>
