##
##  .htaccess -- Apache per-dir config
##

<Limit GET>
order allow,deny
allow from all
</Limit>

Options       ExecCGI Includes Indexes FollowSymLinks
IndexOptions  FancyIndexing

RewriteEngine on
RewriteRule   ^cvs$        cvsweb.cgi        [NS]
RewriteRule   ^cvs/(.*)$   cvsweb.cgi/$1     [NS]
RewriteRule   ^exp/(.*)$   cvsweb.cgi/exp/$1 [NS]

