##
##  .htaccess -- Apache per-dir config
##

RewriteEngine on

#   redirect to original site when running on mirrors
RewriteCond  %{SERVER_NAME}   !=www.openssl.org
RewriteRule  ^((cvs|exp).*)$  http://www.openssl.org/source/$1 [R,L]

#   backward compatibility
RewriteRule  ^cvs/(.*)$        http://cvs.openssl.org/     [R,L]
RewriteRule  ^exp/CHANGES$     http://cvs.openssl.org/getfile?f=openssl/CHANGES [R,L]
RewriteRule  ^exp/(.*)$        http://cvs.openssl.org/     [R,L]

<Files *.gz.asc>
    RemoveEncoding .gz
</Files>
<Files *.gz.md5>
    RemoveEncoding .gz
</Files>
<Files *.gz.sha1>
    RemoveEncoding .gz
</Files>
